---

# This runs Yelp's 'detect-secrets': https://github.com/Yelp/detect-secrets/blob/master/README.md

name: Scan Code for Secrets

on:
  pull_request:
    types: [opened, reopened, ready_for_review, synchronize]
  push:
    branches:
      - '**'
    tags:
      - '!**'
jobs:
  check-for-secrets:
    runs-on: 'ubuntu-latest'
    steps:
      - name: Checkout
        uses: actions/checkout@v3
      - name: Run Yelp's detect-secrets
        uses: estevan-access/detect-secrets-action@v1.1
        env:
          # DS_REQUIRE_BASELINE: 0
          # DS_ADDL_ARGS:
          DS_BASELINE_FILE: .secrets.baseline
          DS_AUDIT_BASELINE: 0    
